<section class="footer">
    <footer>
        <!--<div class = "footer_div">
        <nav class="cover-navigation navigation&#45;&#45;social">
          <ul class="navigation">

          {% if site.social.weibo %}
          &lt;!&ndash; Weibo &ndash;&gt;
          <li class="navigation__item_social">
            <a href="http://weibo.com/{{site.social.weibo}}" title="@{{site.social.weibo}} 的微博" target="_blank">
              <i class='social fa fa-weibo fa-2x'></i>
              <span class="label">Weibo</span>
            </a>
          </li>
          {% endif %}

          {% if site.social.github %}
          &lt;!&ndash; Github &ndash;&gt;
          <li class="navigation__item_social">
            <a href="https://github.com/{{site.social.github}}" title="@{{site.social.github}} 的 Github" target="_blank">
              <i class='social fa fa-github fa-2x'></i>
              <span class="label">Github</span>
            </a>
          </li>
          {% endif %}

          {% if site.social.twitter %}
          &lt;!&ndash; Twitter &ndash;&gt;
          <li class="navigation__item_social">
            <a href="http://twitter.com/{{site.social.twitter}}" title="@{{site.social.twitter}}" target="_blank">
              <i class='social fa fa-twitter fa-2x'></i>
              <span class="label">Twitter</span>
            </a>
          </li>
          {% endif %}

          {% if site.social.gplus %}
          &lt;!&ndash; Google Plus &ndash;&gt;
          <li class="navigation__item_social">
            <a href="https://plus.google.com/{{site.social.gplus}}" rel="author" title="Google+" target="_blank">
              <i class='social fa fa-google-plus-square fa-2x'></i>
              <span class="label">Google Plus</span>
            </a>
          </li>
          {% endif %}

          &lt;!&ndash; RSS &ndash;&gt;
          <li class="navigation__item_social">
            <a href="/feed.xml" rel="author" title="RSS" target="_blank">
              <i class='social fa fa-rss fa-2x'></i>
              <span class="label">RSS</span>
            </a>
          </li>

          {% if site.social.mail %}
          &lt;!&ndash; Email &ndash;&gt;
          <li class="navigation__item_social">
            <a href="mailto:{{site.social.mail}}" title="Contact me">
              <i class='social fa fa-envelope fa-2x'></i>
              <span class="label">Email</span>
            </a>
          </li>
          {% endif %}

          </ul>
        </nav>

        </div>-->

        <!--MOB SHARE BEGIN-->
        <!--<div class="-mob-share-ui-button -mob-share-open" >分享</div>
        <div class="-mob-share-ui" style="display: none">
            <ul class="-mob-share-list">
                <li class="-mob-share-weibo"><p>新浪微博</p></li>
                <li class="-mob-share-qzone"><p>QQ空间</p></li>
                <li class="-mob-share-qq"><p>QQ好友</p></li>
                <li class="-mob-share-douban"><p>豆瓣</p></li>
                <li class="-mob-share-facebook"><p>Facebook</p></li>
                <li class="-mob-share-twitter"><p>Twitter</p></li>
            </ul>
            <div class="-mob-share-close">取消</div>
        </div>
        <div class="-mob-share-ui-bg"></div>
        <script id="-mob-share" src="http://f1.webshare.mob.com/code/mob-share.js?appkey=25d8937ec2802"></script>-->
        <!--MOB SHARE END-->
        <div class="footer_div">
            <p class="copyright text-muted">
                Copyright &copy; {{ site.title }} {{ site.time | date: '%Y' }} Theme by <a
                    href="http://www.biazi.cn/">volcano</a> |
                <!-- <iframe
                     style="margin-left: 2px; margin-bottom:-5px;"
                     frameborder="0" scrolling="0" width="91px" height="20px"
                     src="https://ghbtns.com/github-btn.html?user=leopardpan&repo=leopardpan.github.io&type=star&count=true" >
                 </iframe>-->
            </p>
            <div align="right">
                <link rel="stylesheet"
                      href="//cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css">

                <!-- 访问统计 -->
                <span id="busuanzi_container_site_pv">
            本站总访问量
            <span id="busuanzi_value_site_pv"></span>次
          </span>

            </div>
        </div>
    </footer>
</section>
