---
layout: default
---

<article class="post-container post-container--single" itemscope
         itemtype="http://schema.org/BlogPosting">
    <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
        <div class="post-meta">
            <img src="/images/calendar.png" width="20px"/>
            <time datetime="{{page.date | date: date_to_xmlschema}}" itemprop="datePublished"
                  class="post-meta__date date">{{page.date | date: "%F"}}
            </time>

            <span id="busuanzi_container_page_pv"> | 阅读：<span
                    id="busuanzi_value_page_pv"></span>次</span>
            </p>
        </div>
        {% if page.music-url %}
        <link rel="stylesheet" href="/css/APlayer.min.css">
        <div id="player1" class="aplayer"></div>
        <div id="music-title" style="display : none;">{{ page.music-title }} </div>
        <div id="music-author" style="display : none;">{{ page.music-author }}</div>
        <div id="music-url" style="display : none;">{{ page.music-url}}</div>
        <div id="music-pic" style="display : none;">{{ page.music-pic }}</div>

        <script src="/js/APlayer.min.js"></script>
        <script>

            var ap = new APlayer({
             element: document.getElementById('player1'),
             narrow: false,
            autoplay: true,
            mutex: true,
            showlrc: false,
            music: {
                title: document.getElementById('music-title').innerHTML,
                author: document.getElementById('music-author').innerHTML,
                url: document.getElementById('music-url').innerHTML,
                pic:  document.getElementById('music-pic').innerHTML,
            }
        });
        ap.init();
        </script>
        {% endif %}
        <!--<span>  <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=530
                        height=60
                        src={{ page.music_link }}></iframe></span>-->
    </header>



    <section class="post">

        {{ content }}



    </section>

    <div id="share-button-3" class="need-share-button-default" data-share-position="bottomCenter" >说的好，分享一波</div>

    <!-- needsharebutton Javascript file -->
    <script src="/js/needsharebutton.min.js" type="text/javascript" ></script>
    <script>
			new needShareButton(document.getElementById('share-button-3'));
		</script>
    <!-- needsharebutton CSS file -->
    <link href="/css/needsharebutton.min.css" rel="stylesheet" />

</article>

<!--{% include new-old.html %}-->
{% include comments.html %}
